@use "../../assets/styles/mixins";

.modalwindows {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 40px;
  width: 100%;
  // max-width: 335px;
  max-width: 564px;
  border-radius: 24px;
  background-color: var(--ColorWhite);

  @include mixins.mobile {
    padding: 64px 20px 40px;

    max-height: 90vh; // ограничиваем высоту
    overflow-y: auto; // скроллится модальное окно
  }

  &__close-btn {
    position: absolute;
    top: 0px;
    right: -72px;
    @include mixins.mobile {
      top: 0;
      right: 0;
    }
  }

  &__wrap-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    @include mixins.mobile {
      margin-bottom: 32px;
    }
  }

  &__logo {
    max-width: 156px;
  }

  &__heading {
    margin-bottom: 12px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 133%;
    color: var(--ColorBlack);
  }

  &__description {
    text-align: center;
    max-width: 340px;
    color: var(--ColorBlack);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
  }
}
