@use "../../assets/styles/mixins";

.listCard-movies-genre {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: clamp(10px, 3vw, 40px);
  row-gap: 64px;

  padding-bottom: 64px;


  @include mixins.tablet {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
  }

  @include mixins.mobile {
    grid-template-columns: repeat(2,1fr);
    row-gap: 24px;
    padding-bottom: 40px;
  }

  @include mixins.mobile-S {
    grid-template-columns: 1fr;
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__wrap-btn {
    display: flex;
    justify-content: center;
  }

}






