.btnlike {
  display: grid;
  place-items: center;
  padding: 16px 21px;
  // width: 68px;
  // height: 56px;
  border-radius: 28px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: var(--btnDefault);

  &__svg {
    width: 24px;
    height: 24px;
  }
}
