
:root {

    --textColor: #fff;
    --textColorWO: rgba(255, 255, 255, 0.7);
    
    --btnPrimary: #67a5eb;
    --btnPrimaryHover: #497cb6;
    --btnFocus: #45526e;
    --btnDefault: #393b3c;
    --btnIcon:#333;

    --errorColor: #ff7575;
    --focusColor:#b4a9ff;

    --cardLabel: #6a5dc2;

    --hoverColorMenu: #b4a9ff;
    --activeColorMenu: #dc5dfc;
    --bgInterface: #393b3c;

    --ColorWhite: #fff;
    --ColorBlack: #0a0b0b;
}